@import url('https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Raleway');
@import url('https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Lato');
body{
	font-family: "Lato", Georgia, Serif;
	margin-left: 30%;
	 background-image: url("../img/background.jpg");
